body
{
 background: url(images/123.jpg);
 background-size: 100% 700px;
 padding-top: 70px;
 padding-left: 50px;
 }
#nav_wrapper
{
 
 height: 150px;
 width: 500px;
 background: #377D7A;
 margin-left: 450px;
 margin-right: auto;
 margin-top: 50px;
 opacity: 0.7;
 filter:alpha (opacity=70);
}
#nav_wrapper ul li{
 list-style: none;
 display: inline;
 font-weight : bold;
 padding: 20px;
 margin-top: 10px;
}
#nav_wrapper a{
 color : white;
 text-decoration: none;
} 
#nav_wrapper ul li:hover{
 background: red;
 transition: all 0.40s;
}
